.badge {
	width: 10px;
	height: 10px;
	border-radius: 50%;

	&--red {
		background-color: #ff6464;
	}
	&--black {
		background-color: #110133;
	}
	&--purple {
		background-color: #c355f5;
	}
	&--lime {
		background-color: #b6e6bd;
	}
	&--grey {
		background-color: #c9d1d3;
	}
	&--green {
		background-color: #42b883;
	}
	&--blue {
		background-color: #64c4ed;
	}
	&--pink {
		background-color: #ffbbcc;
	}
}
