.tasks {
	&:not(:last-of-type) {
		margin-bottom: 40px;
	}
	&__title-wrapper {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba($color: #00000039, $alpha: 0.1);
		padding-bottom: 5px;
		margin-bottom: 20px;

		img {
			padding-left: 20px;
			cursor: pointer;
			opacity: 0;

			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__title {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		color: #64c4ed;
	}

	// &__item {
	// 	display: flex;
	// 	margin-bottom: 10px;

	// 	&-actions {
	// 		display: flex;
	// 		opacity: 0;
	// 		transition: opacity 0.15s ease-in-out;

	// 		div {
	// 			display: flex;
	// 			align-items: center;
	// 			justify-content: center;
	// 			width: 32px;
	// 			height: 32px;
	// 			background-color: lighten(#f4f6f8, 2%);
	// 			border-radius: 6px;
	// 			margin-left: 5px;
	// 			cursor: pointer;

	// 			&:hover {
	// 				background-color: darken(#f4f6f8, 2%);
	// 				svg {
	// 					opacity: 0.9;
	// 				}
	// 			}

	// 			svg {
	// 				width: 11px;
	// 				height: 11px;
	// 				opacity: 0.4;
	// 			}
	// 		}
	// 	}
	// }

	&__empty {
		font-weight: bold;
		font-size: 30px;
		color: #c9d1d3;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(0%, -50%);
	}

	p {
		list-style: none;
		border: none;
		width: 100%;
	}

	.checkbox {
		display: flex;
		margin-right: 10px;

		:hover {
			background-color: #f2f2f2;
			border-color: #f2f2f2;
			svg {
				opacity: 1;
				path {
					stroke: #b3b3b3;
				}
			}
		}

		input {
			display: none;
		}
		label {
			cursor: pointer;
			border: 2px solid #e8e8e8;
			border-radius: 100%;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				opacity: 0;
			}
		}

		input:checked + label {
			background-color: #4dd599;
			border-color: #4dd599;
			svg {
				opacity: 1;
				&:hover {
					background-color: #4dd599;
				}
				path {
					stroke: #ffffff;
				}
			}
		}
	}
}
